<section class="form">
    <h1 class="titleForm">CONTACTANOS</h1>
    <h3 class="subTitleForm">Envianos tus datos personales y nos pondremos en contacto en breve!</h3>
<hr class="hrStyle">
    <form class="formStyle">
        <label>Nombre</label> <input type="text">
        <label>Apellido</label> <input type="text">
        <label>Documento nacional de identidad</label> <input type="number" maxlength="8">
        <label>Fecha de nacimiento</label> <input type="date">
        <label>Email</label> <input type="email">
        <label>Numero de telefono</label> <input type="number" maxlength="10">
    </form>
</section>
