<nav class="navbar navbar-expand-lg color">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/about']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer>{{title}} 2022</footer>