<h1 class="headIntro">
Hola! Somos la familia brewery, unos apasionados por las cervezas artesanales y creadores de la mejor calidad. 
<h2 class="headIntroSecond"> Vendemos productos propios como tambien de compañias asociadas. Espero que disfrutes de nuestros productos!</h2>
</h1>
<div class="containerImg">
    <img class="logo" src="assets/img/logoCompany.png" alt="">
    <img #img1 class='imgHead' src="assets/img/img-1.jpg" alt="">
    <img #img2 class='imgHead' src="assets/img/img-2.jpg" alt="">
    <img #img3 class='imgHead' src="assets/img/img-3.jpg" alt="">
    <img #img4 class='imgHead' src="assets/img/img-4.jpg" alt="">
</div>
<hr>